.background {
  background: linear-gradient(155deg, #fbc34a, #f05d87);
}

.imageLogoContainer {
  margin-top: 50%;
  margin-bottom: 10%;
}

.tagline {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
}
