<ion-app>
  <ion-menu side="end" menuId="m1">
    <ion-header>
      <ion-toolbar class="drawer1">
        <ion-title class="displayDrawer1"
          ><ion-menu-toggle>
            <ion-icon
              name="arrow-back"
              class="iconDrawer1"
              menuClose
            ></ion-icon></ion-menu-toggle
          >Settings</ion-title
        >
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-text-center">
      <ion-list>
        <ion-menu-toggle>
          <ion-item lines="none">
            <ion-label class="displayDrawer2"
              ><ion-icon name="create" class="iconDrawer2"></ion-icon>Edit
              Profile</ion-label
            >
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
    <ion-footer no-border>
      <ion-menu-toggle>
        <ion-item lines="none">
          <ion-label class="displayDrawer2"
            ><ion-icon
              name="information-circle-outline"
              class="iconDrawer2"
            ></ion-icon
            >About</ion-label
          >
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item lines="none">
          <ion-label class="displayDrawer2"
            ><ion-icon name="log-out" class="iconDrawer2"></ion-icon>Log
            Out</ion-label
          >
        </ion-item>
      </ion-menu-toggle>
      <br /><br />
    </ion-footer>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
