.drawer1 {
  --ion-background-color: #3c4cac;
}

.middle {
  vertical-align: middle;
}

.iconDrawer1 {
  width: 20px;
  height: 20px;
  padding-right: 10px;
  color: #ffffff;
}

.displayDrawer1 {
  color: #ffffff;
  font-family: neusa-next-std, sans-serif;
  font-size: 18px;
}

.displayDrawer2 {
  color: #3c4cac;
  font-family: neusa-next-std, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.iconDrawer2 {
  width: 20px;
  height: 20px;
  padding-right: 10px;
  color: #3c4cac;
}
