<ion-content class="pageBackground">
  <ion-toolbar color="translucent">
    <ion-buttons slot="end">
      <ion-button (click)="onClickClose()">
        <ion-icon name="close" class="iconClose"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-row>
    <p class="textTitle">Edit Profile</p>
  </ion-row>
  <br />
  <ion-row class="avatarContainer">
    <img
      *ngIf="capturedSnapURL === null"
      class="displayAvatar"
      src="assets/images/avatarDefault.png"
      (click)="changeProfilePicture()"
    />
    <img
      *ngIf="capturedSnapURL !== null"
      class="displayAvatar"
      [src]="capturedSnapURL"
      (click)="changeProfilePicture()"
    />
    <button class="btnChangeAvatar" (click)="changeProfilePicture()">
      <ion-icon name="camera" class="displayCameraIcon"></ion-icon>
    </button>
  </ion-row>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="editDataContainer">
      <div class="editFieldContainer">
        <ion-row class="textFullName">Full Name</ion-row>
        <ion-row class="editFullNameContainer"
          ><ion-input
            inputmode="name"
            ngModel="{{ loadedProfile.user[0].full_name }}"
            class="editFullName"
            name="fullName"
            type="text"
            required
          ></ion-input
        ></ion-row>
        <ion-row class="textPhoneNumber">Phone Number</ion-row>
        <ion-row class="editPhoneNumberContainer"
          ><ion-input
            inputmode="number"
            ngModel="{{ loadedProfile.user[0].phone_number }}"
            type="number"
            class="editPhoneNumber"
            name="phoneNumber"
            required
          ></ion-input
        ></ion-row>
        <ion-row class="textGender">Gender</ion-row>
        <ion-row class="editGenderContainer"
          ><ion-select
            class="editGender"
            placeholder="Select Your Gender"
            interface="popover"
            (ionChange)="onChangeGender($event)"
            name="gender"
            [(ngModel)]="loadedProfile.user[0].gender"
            required
          >
            <ion-select-option value="Male">Male</ion-select-option>
            <ion-select-option value="Female">Female</ion-select-option>
            <ion-select-option value="Other">Other</ion-select-option>
          </ion-select></ion-row
        >
        <ion-row class="textLocation">Location</ion-row>
        <ion-row class="editLocationContainer"
          ><ion-select
            placeholder="Select Your Location"
            class="editLocation"
            (ionChange)="onChangeLocation($event)"
            interface="popover"
            required
          >
            <ion-select-option
              [selected]="true"
              value="{{ loadedProfile.user[0].location }}"
              >{{ loadedProfile.user[0].location }}</ion-select-option
            >
            <ion-select-option
              value="{{ data.name }}"
              *ngFor="let data of cityData"
              >{{ data.name }}</ion-select-option
            >
          </ion-select></ion-row
        >
      </div>
    </div>
    <br /><br />
    <ion-button
      type="submit"
      expand="block"
      shape="round"
      color="tertiary"
      class="btnSave"
      [disabled]="!f.valid"
      >Save Changes</ion-button
    >
    <br /><br />
  </form>
</ion-content>
