<ion-header>
  <ion-toolbar class="toolbarContainer" mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="onClickBack()"
        ><ion-icon
          slot="icon-only"
          name="arrow-back"
          class="backIcon"
        ></ion-icon
      ></ion-button>
    </ion-buttons>
    <ion-title class="headerTitle">About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="pageContainer">
    <p class="textAboutTitle">About</p>
    <hr />
    <p class="textAboutContent">
      Cibo is an app that provides a platform for users to exchange information
      about the food they own and let them share the food with friends for pick
      up.
      <br />
      <br />
      We crafted the app with the Sustainable Development Goals in mind in
      attempt to reduce the amount of food waste generated, and create a
      sustainable and responsible consumption cycle.
    </p>
    <p class="textTeamTitle">The Team</p>
    <hr />
    <ul class="textTeamContent" no-padding>
      <li>Antonius Filian</li>
      <li>Daniel Indra Cahyadi</li>
      <li>Kevin Lie</li>
      <li>Malvin Hariyanto</li>
      <li>Peter Gautama</li>
    </ul>
  </div>
</ion-content>
