<ion-content class="pageBackground">
  <ion-toolbar color="translucent">
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="close" class="iconClose"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-row>
    <p class="textTitle">Add Item</p>
  </ion-row>
  <br />
  <ion-row class="boxImage">
    <ion-row class="boxImageContent">
      <div class="iconBoxImage">
        <img
          src="assets/feeds-add-post/icons8-add_camera.png"
          class="ion-text-center"
        />
      </div>
      <div class="ion-text-center textPhoto">Take a photo of your food.</div>
    </ion-row>
  </ion-row>
  <br />
  <ion-row class="boxItemName">
    <ion-input
      placeholder="Item Name"
      class="textItemName"
      ngModel
      name="itemName"
      required
    ></ion-input>
  </ion-row>
  <br />
  <ion-row class="containerDate">
    <ion-col class="boxBuyDate">
      <ion-datetime
        displayFormat="MM/DD/YYYY"
        placeholder="Buy Date"
        class="textBuyDate"
        ngModel
        name="dateBuy"
        required
      ></ion-datetime>
    </ion-col>
    <ion-col class="boxExpDate">
      <ion-datetime
        displayFormat="MM/DD/YYYY"
        placeholder="Exp Date"
        class="textExpDate"
        ngModel
        name="dateExp"
        required
      ></ion-datetime>
    </ion-col>
  </ion-row>
  <br />
  <ion-row class="boxCategory">
    <ion-select
      placeholder="Category"
      class="textCategory"
      ngModel
      name="category"
      required
    >
      <ion-select-option value="meat">Meat</ion-select-option>
      <ion-select-option value="vegetables">Vegetables</ion-select-option>
    </ion-select>
  </ion-row>
  <br />
  <ion-row class="boxDescription">
    <ion-textarea
      rows="6"
      cols="6"
      placeholder="Description"
      class="textDescription"
      ngModel
      name="desc"
      required
    ></ion-textarea>
  </ion-row>
  <br />
  <ion-button
    type="submit"
    color="primary"
    expand="block"
    shape="round"
    color="tertiary"
    class="btnPost"
    >POST</ion-button
  >
  <br /><br />
</ion-content>
