<ion-content class="pageBackground">
  <ion-toolbar color="translucent">
    <ion-buttons slot="end">
      <ion-button (click)="onClickClose()">
        <ion-icon name="close" class="iconClose"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-row>
    <p class="textTitle">Add Item</p>
  </ion-row>
  <br />
  <ion-row class="boxImage">
    <ion-row class="boxImageContent">
      <div class="iconBoxImage" *ngIf="scanBarcodeFeeds.image === ''">
        <img
          src="assets/feeds-add-post/icons8-add_camera.png"
          class="ion-text-center"
        />
      </div>
      <div
        class="ion-text-center textPhoto"
        *ngIf="scanBarcodeFeeds.image === ''"
      >
        Take a photo of your food.
      </div>
    </ion-row>
    <img
      *ngIf="scanBarcodeFeeds.image !== ''"
      [src]="scanBarcodeFeeds.image"
      class="photo"
    />
  </ion-row>
  <br />
  <ion-row class="labelItemName">Item Name</ion-row>
  <ion-row class="boxItemName">
    <ion-input
      placeholder="Item Name"
      class="textItemName"
      ngModel
      name="itemName"
      required
      [(ngModel)]="scanBarcodeFeeds.item_name"
    ></ion-input>
  </ion-row>
  <br />
  <ion-row class="containerDate">
    <ion-col>
      <ion-row class="labelBuyDate">Buy Date</ion-row>
      <ion-row class="boxBuyDate">
        <ion-datetime
          displayFormat="DD/MM/YYYY"
          placeholder="Buy Date"
          class="textBuyDate"
          name="dateBuy"
          ngModel="scanBarcodeFeeds.buy_date"
        ></ion-datetime>
      </ion-row>
    </ion-col>
    <ion-col>
      <ion-row class="labelExpDate">Exp Date</ion-row>
      <ion-row class="boxExpDate">
        <ion-datetime
          displayFormat="DD/MM/YYYY"
          placeholder="Exp Date"
          class="ion-text-center textExpDate"
          [(ngModel)]="scanBarcodeFeeds.exp_date"
          name="dateExp"
          min="{{ scanBarcodeFeeds.buy_date }}"
          max="2050"
          *ngIf="scanBarcodeFeeds.buy_date"
        ></ion-datetime>
        <ion-datetime
          displayFormat="DD/MM/YYYY"
          placeholder="Exp Date"
          class="ion-text-center textExpDate"
          [(ngModel)]="scanBarcodeFeeds.exp_date"
          name="dateExp"
          max="2050"
          *ngIf="!scanBarcodeFeeds.buy_date"
        ></ion-datetime>
      </ion-row>
    </ion-col>
  </ion-row>
  <br />
  <ion-row class="labelCategory">Category</ion-row>
  <ion-row class="boxCategory">
    <ion-select
      placeholder="Category"
      class="textCategory"
      name="category"
      interface="popover"
      [(ngModel)]="scanBarcodeFeeds.category"
      required
    >
      <ion-select-option value="Vegetables">Vegetables</ion-select-option>
      <ion-select-option value="Fruits">Fruits</ion-select-option>
      <ion-select-option value="Grains, Beans and Nuts"
        >Grains, Beans and Nuts</ion-select-option
      >
      <ion-select-option value="Meat and Poultry"
        >Meat and Poultry</ion-select-option
      >
      <ion-select-option value="Dairy Foods">Dairy Foods</ion-select-option>
      <ion-select-option value="Drinks">Drinks</ion-select-option>
      <ion-select-option value="Snacks">Snacks</ion-select-option>
      <ion-select-option value="Fish and Seafood"
        >Fish and Seafood</ion-select-option
      >
    </ion-select>
  </ion-row>
  <br />
  <ion-row class="labelDescription">Description</ion-row>
  <ion-row class="boxDescription">
    <ion-textarea
      rows="6"
      cols="6"
      placeholder="Description"
      class="textDescription"
      ngModel
      name="desc"
      required
      [(ngModel)]="scanBarcodeFeeds.description"
    ></ion-textarea>
  </ion-row>
  <br />
  <ion-row class="labelTag">Tag</ion-row>
  <ion-row class="boxTag">
    <ion-select
      placeholder="Available"
      class="textTag"
      [(ngModel)]="scanBarcodeFeeds.tag"
      name="tag"
      interface="popover"
      required
    >
      <ion-select-option value="Available">Available</ion-select-option>
      <ion-select-option
        *ngIf="scanBarcodeFeeds.exp_date < currentDate"
        value="Expired"
        >Expired</ion-select-option
      >
    </ion-select>
  </ion-row>
  <br />
  <ion-button
    type="submit"
    color="primary"
    expand="block"
    shape="round"
    color="tertiary"
    class="btnPost"
    (click)="addPost()"
    >POST</ion-button
  >
  <br /><br />
</ion-content>
