<ion-header *ngIf="!isLoading">
  <ion-toolbar class="toolbarContainer">
    <ion-row class="rowToolbar toolbarContainer">
      <ion-buttons>
        <ion-button (click)="scanBarcode()">
          <ion-icon name="barcode" class="headerIcon"></ion-icon>
        </ion-button>
      </ion-buttons>
      <div class="headerTitle">Home</div>
      <ion-buttons>
        <ion-button (click)="onClickChat()">
          <ion-icon name="chatboxes" class="headerIcon"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="isLoading" class="backgroundLoading"></ion-content>

<ion-content *ngIf="!isLoading && isEmpty">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="bodyContainerNoPost">
    <b>
      <p class="textAvailableEmpty">Welcome to CIBO</p>
      <p class="textAvailableEmpty">
        Follow people to start seeing the post they shared
      </p>
      <p class="textAvailableEmpty">or upload post of your own</p>
      <p class="textAvailableEmpty">
        Lets start share your food and reduce food waste
      </p>
    </b>
  </div>
</ion-content>

<ion-content *ngIf="!isLoading && !isEmpty">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-row class="rowFeedsContainer">
    <ion-col class="colFeedsContainer" *ngFor="let item of loadedFeeds">
      <ion-card
        class="cardContainer"
        [routerLink]="['/', 'feeds', 'feeds-detail', item.id]"
      >
        <div class="imageContainer">
          <img
            *ngIf="
              item.tag.toLowerCase() == 'available' ||
              item.tag.toLowerCase() == 'expired'
            "
            src="{{ item.image }}"
            class="imageAvailable"
          />
          <img
            *ngIf="item.tag.toLowerCase() == 'unavailable'"
            src="{{ item.image }}"
            class="imageUnavailable"
          />
          <div
            *ngIf="
              item.tag.toLowerCase() == 'available' ||
              item.tag.toLowerCase() == 'expired'
            "
            class="tagPosition statusAvailable"
          >
            Available
          </div>
          <div
            *ngIf="item.tag.toLowerCase() == 'expired'"
            class="tagPositionExpired statusExpired"
          >
            {{ item.tag }}
          </div>
          <div
            *ngIf="item.tag.toLowerCase() == 'unavailable'"
            class="tagPosition statusUnavailable"
          >
            {{ item.tag }}
          </div>
        </div>
        <ion-card-content>
          <p class="textItemName">
            {{ item.item_name }}
          </p>
          <p class="textTimeStamp">
            <ion-icon name="hourglass" slot="icon-only"></ion-icon
            >{{ item.timestamp }}
          </p>
          <p>
            <ion-row class="userInfoContainer">
              <ion-col size="4" class="avatarContainer">
                <img src="{{ item.avatar }}" class="imageAvatar" />
              </ion-col>
              <ion-col size="8" class="userContainer">
                <ion-row class="textUserName">
                  {{ item.username }}
                </ion-row>
                <ion-row class="textUserLocation">
                  {{ item.location }}
                </ion-row>
              </ion-col>
            </ion-row>
          </p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <br />
</ion-content>

<ion-footer>
  <ion-row class="footerContainer">
    <div>
      <ion-buttons>
        <ion-button class="iconSelectedContainer" (click)="onClickHome()">
          <ion-icon slot="icon-only" name="home"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
    <div>
      <ion-buttons>
        <ion-button (click)="onClickSearch()">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
    <div>
      <ion-buttons>
        <ion-button class="iconAddContainer" (click)="onClickAdd()">
          <ion-icon class="iconAdd" slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
    <div>
      <ion-buttons>
        <ion-button (click)="onClickRequest()">
          <ion-icon slot="icon-only" name="notifications"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
    <div>
      <ion-buttons>
        <ion-button (click)="onClickProfile()">
          <ion-icon slot="icon-only" name="person"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </ion-row>
</ion-footer>

<div class="spin" *ngIf="isLoading">
  <ion-spinner name="crescent"></ion-spinner>
</div>
