<ion-header>
  <ion-toolbar class="toolbarContainer">
    <div class="headerTitle">Home</div>
    <ion-buttons slot="end">
      <ion-button
        ><ion-icon name="chatboxes" class="chattingIcon"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="rowFeedsContainer">
    <ion-col class="colFeedsContainer" *ngFor="let item of loadedFeeds">
      <ion-card
        class="cardContainer"
        [routerLink]="['/', 'feeds-detail', item.id]"
      >
        <div class="imageContainer">
          <img
            *ngIf="item.status == 'Available'"
            src="{{ item.itemImageUrl }}"
            class="imageAvailable"
          />
          <img
            *ngIf="item.status == 'Unavailable'"
            src="{{ item.itemImageUrl }}"
            class="imageUnavailable"
          />
          <div
            *ngIf="item.status == 'Available'"
            class="tagPosition statusAvailable"
          >
            {{ item.status }}
          </div>
          <div
            *ngIf="item.status == 'Unavailable'"
            class="tagPosition statusUnavailable"
          >
            {{ item.status }}
          </div>
        </div>
        <ion-card-content>
          <p class="textItemName">
            {{ item.item_name }}
          </p>
          <p class="textTimeStamp">
            <ion-icon name="hourglass" slot="icon-only"></ion-icon> Posted
            {{ item.timestamps }} day ago
          </p>
          <p>
            <ion-row class="userInfoContainer">
              <ion-col size="4" class="avatarContainer">
                <img src="{{ item.avatar }}" class="imageAvatar" />
              </ion-col>
              <ion-col size="8" class="userContainer">
                <ion-row class="textUserName">
                  {{ item.username }}
                </ion-row>
                <ion-row class="textUserLocation">
                  {{ item.location }}
                </ion-row>
              </ion-col>
            </ion-row>
          </p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <br />
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row class="footerContainer">
      <ion-col size="2">
        <ion-buttons>
          <ion-button class="iconSelectedContainer">
            <ion-icon slot="icon-only" name="home"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col size="2">
        <ion-buttons>
          <ion-button>
            <ion-icon slot="icon-only" name="search"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col size="4" class="footerMiddleContainer">
        <ion-buttons>
          <ion-button class="iconAddContainer" (click)="onClickAdd()">
            <ion-icon class="iconAdd" slot="icon-only" name="add"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col size="2">
        <ion-buttons>
          <ion-button (click)="onClickRequest()">
            <ion-icon slot="icon-only" name="notifications"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col size="2">
        <ion-buttons>
          <ion-button (click)="onClickProfile()">
            <ion-icon slot="icon-only" name="person"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
