.content{
  padding-top: 20px;
}

.photo{
  display:block; 
  margin:auto; 
  width: 180px; 
  margin-top: 20px;
}

.takePhoto{
  text-align: center; 
  margin-top: 20px;
  height: 50px; 
  width: 100px;
}

.label{
  margin-top: 10px;
}

.button{
  margin-top: 20px;
}

.next-button{
  width: 70px; 
  height: 70px;
}

.middle{
  vertical-align: middle;
}