<ion-content class="ion-padding background">
  <div class="content">
    <h2 class="ion-text-center header">
      <b>
        Complete Your Profile
      </b>
    </h2>

    <img *ngIf="capturedSnapURL===''" class="photo" src="../../assets/images/avatarDefault.png" (click)="changeProfilePicture()">

    <img *ngIf="capturedSnapURL!==''" class="photo" [src]="capturedSnapURL" (click)="changeProfilePicture()"/>

    <ion-row center>
      <ion-col text-center>
        <ion-button class="text-center takePhoto" shape="round" color="tertiary" (click)="changeProfilePicture()">
          <img src="../assets/icon/addImage.png">
        </ion-button>
      </ion-col>
    </ion-row>
    
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-list class="list">
              <ion-item class="item">
                <div class="middle">
                  <ion-label position="floating" class="middle"> 
                    <img src="../assets/icon/userIcon.png" class="middle">
                    &nbsp;&nbsp;Full Name
                  </ion-label>
                </div>
                <ion-input
                  inputmode="name"
                  ngModel
                  name="fullName"
                  required
                  type="name"
                ></ion-input>
              </ion-item>
            </ion-list>
            <ion-list class="list">
              <ion-item class="item">
                <div class="middle">
                  <ion-label position="floating" class="middle"> 
                    <img src="../assets/icon/phoneIcon.png" class="middle">
                    &nbsp;&nbsp;Phone Number
                  </ion-label>
                </div>
                <ion-input
                  inputmode="number"
                  ngModel
                  name="phoneNumber"
                  required
                  type="number"
                ></ion-input>
              </ion-item>
            </ion-list>
            <ion-list class="list">
              <ion-item class="item">
                <div class="middle">
                  <ion-label position="floating" class="middle"> 
                    <img src="../assets/icon/markerIcon.png" class="middle">
                    &nbsp;&nbsp;Location
                  </ion-label>
                </div>
                <ion-select (ionChange)="onChange($event)" interface="popover">
                  <ion-select-option value="{{data.name}}" *ngFor="let data of cityData">{{data.name}}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row center>
          <ion-col text-center class="button">
            <ion-button
              type="submit"
              color="tertiary"
              (click)="next()"
              [disabled]="!f.valid"
              shape="round"
              class="next-button"
              >
                <ion-icon name="ios-arrow-forward" class="zoomed"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
