<ion-header translucent="true" no-border>
  <ion-toolbar class="settingsContainer">
    <ion-buttons slot="end">
      <ion-menu-button menu="m1"
        ><ion-icon name="settings" class="settingsIcon"></ion-icon
      ></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="isLoading" color="medium"></ion-content>

<ion-content *ngIf="!isLoading">
  <div class="pageContainer">
    <div class="headerContainer">
      <div class="avatarContainerHeader">
        <ion-row>
          <img
            src="assets/images/avatarDefault.png"
            *ngIf="loadedProfile.user[0].avatar == null"
          />
          <img
            src="{{ loadedProfile.user[0].avatar }}"
            *ngIf="loadedProfile.user[0].avatar != null"
          />
          <ion-col class="textHeaderContainer" no-padding>
            <ion-row class="textUserFullNameHeader">
              {{ loadedProfile.user[0].full_name }}
            </ion-row>
            <ion-row class="textUserNameHeader">
              {{ loadedProfile.user[0].username }}
            </ion-row>
            <ion-row class="textUserLocationHeader">
              {{ loadedProfile.user[0].location }}
            </ion-row>
            <ion-row class="userStatusContainer">
              <ion-col col-2 no-padding class="userPostContainer">
                <ion-row class="textAmount">
                  <ion-col col-12 no-padding text-center>{{
                    loadedProfile.post.length
                  }}</ion-col></ion-row
                >
                <ion-row class="textUserStatus">
                  <ion-col col-12 no-padding text-center>Post</ion-col></ion-row
                >
              </ion-col>
              <ion-col col-2 no-padding class="userFollowerContainer">
                <ion-row class="textAmount">
                  <ion-col col-12 no-padding text-center>{{
                    loadedProfile.user[0].follower.length
                  }}</ion-col></ion-row
                >
                <ion-row class="textUserStatus">
                  <ion-col col-12 no-padding text-center
                    >Follower</ion-col
                  ></ion-row
                >
              </ion-col>
              <ion-col col-2 no-padding class="userFollowingContainer">
                <ion-row class="textAmount">
                  <ion-col col-12 no-padding text-center>{{
                    loadedProfile.user[0].following.length
                  }}</ion-col></ion-row
                >
                <ion-row class="textUserStatus">
                  <ion-col col-12 no-padding text-center
                    >Following</ion-col
                  ></ion-row
                >
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </div>
    </div>
    <div class="bodyContainer">
      <div>
        <div>
          <br /><br />
          <p class="textYourPosts">
            Your Posts
          </p>
        </div>
        <p class="textAvailableTitle">
          Available
        </p>
        <div class="bodyContainerEmpty ion-text-center" *ngIf="!isAvailable">
          <p class="textAvailableEmpty">There are no available posts!</p>
        </div>
        <ion-row class="rowFeedsContainer" *ngIf="isAvailable">
          <ion-col
            class="colFeedsContainer"
            *ngFor="let item of loadedProfile.post"
          >
            <ion-card
              class="cardContainer"
              [routerLink]="['/', 'feeds-detail', item.id]"
              *ngIf="item.tag == 'Available' || item.tag == 'Expired'"
            >
              <div class="imageContainer">
                <img
                  *ngIf="item.tag == 'Available' || item.tag == 'Expired'"
                  src="{{ item.image }}"
                  class="imageAvailable"
                />
                <div
                  *ngIf="item.tag == 'Available'"
                  class="tagPosition statusAvailable"
                >
                  {{ item.tag }}
                </div>
                <div
                  *ngIf="item.tag == 'EXPIRED'"
                  class="tagPositionExpired statusExpired"
                >
                  {{ item.tag }}
                </div>
              </div>
              <ion-card-content>
                <p class="textItemName">
                  {{ item.item_name }}
                </p>
                <p class="textTimeStamp">
                  <ion-icon name="hourglass" slot="icon-only"></ion-icon>
                  {{ item.timestamp }}
                </p>
                <p>
                  <ion-row class="userInfoContainer">
                    <ion-col size="4" class="avatarContainer">
                      <img
                        src="{{ loadedProfile.user[0].avatar }}"
                        class="imageAvatar"
                        *ngIf="loadedProfile.user[0].avatar != null"
                      />
                      <img
                        src="assets/images/avatarDefault.png"
                        class="imageAvatar"
                        *ngIf="loadedProfile.user[0].avatar == null"
                      />
                    </ion-col>
                    <ion-col size="8" class="userContainer">
                      <ion-row class="textUserName">
                        {{ loadedProfile.user[0].full_name }}
                      </ion-row>
                      <ion-row class="textUserLocation">
                        {{ loadedProfile.user[0].location }}
                      </ion-row>
                    </ion-col>
                  </ion-row>
                </p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

        <p class="textUnavailableTitle">
          Unavailable
        </p>

        <div class="bodyContainerEmpty ion-text-center" *ngIf="!isUnavailable">
          <p class="textUnavailableEmpty">There are no unavailable posts!</p>
        </div>

        <ion-row class="rowFeedsContainer" *ngIf="isUnavailable">
          <ion-col
            class="colFeedsContainer"
            *ngFor="let item of loadedProfile.post"
          >
            <ion-card
              class="cardContainer"
              [routerLink]="['/', 'feeds-detail', item.id]"
            >
              <div class="imageContainer">
                <img
                  *ngIf="item.tag == 'Unavailable'"
                  src="{{ item.image }}"
                  class="imageUnavailable"
                />
                <div
                  *ngIf="item.tag == 'Unavailable'"
                  class="tagPosition statusUnavailable"
                >
                  {{ item.tag }}
                </div>
              </div>
              <ion-card-content>
                <p class="textItemName">
                  {{ item.item_name }}
                </p>
                <p class="textTimeStamp">
                  <ion-icon name="hourglass" slot="icon-only"></ion-icon
                  >{{ item.timestamp }}
                </p>
                <p>
                  <ion-row class="userInfoContainer">
                    <ion-col size="4" class="avatarContainer">
                      <img
                        src="{{ loadedProfile.user[0].avatar }}"
                        class="imageAvatar"
                        *ngIf="loadedProfile.user[0].avatar != null"
                      />
                      <img
                        src="assets/images/avatarDefault.png"
                        class="imageAvatar"
                        *ngIf="loadedProfile.user[0].avatar == null"
                      />
                    </ion-col>
                    <ion-col size="8" class="userContainer">
                      <ion-row class="textUserName">
                        {{ loadedProfile.user[0].full_name }}
                      </ion-row>
                      <ion-row class="textUserLocation">
                        {{ loadedProfile.user[0].location }}
                      </ion-row>
                    </ion-col>
                  </ion-row>
                </p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <br />
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-row class="footerContainer">
    <div>
      <ion-buttons>
        <ion-button (click)="onClickHome()">
          <ion-icon slot="icon-only" name="home"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
    <div>
      <ion-buttons>
        <ion-button (click)="onClickSearch()">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
    <div>
      <ion-buttons>
        <ion-button class="iconAddContainer" (click)="onClickAdd()">
          <ion-icon class="iconAdd" slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
    <div>
      <ion-buttons>
        <ion-button (click)="onClickRequest()">
          <ion-icon slot="icon-only" name="notifications"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
    <div>
      <ion-buttons>
        <ion-button class="iconSelectedContainer" (click)="onClickProfile()">
          <ion-icon slot="icon-only" name="person"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </ion-row>
</ion-footer>

<div class="spin" *ngIf="isLoading">
  <ion-spinner name="crescent"></ion-spinner>
</div>
