<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="card">
    <ion-toolbar class="drawerProfile1">
      <ion-buttons slot="end">
        <ion-menu-button menu="m1"
          ><ion-icon name="settings" class="drawerProfile2"></ion-icon
        ></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
    <div class="header">
      <div class="avatar">
        <ion-row>
          <img src="https://www.venmond.com/demo/vendroid/img/avatar/big.jpg" />
          <ion-col class="titleDisplay1" no-padding>
            <ion-row class="profile1">
              Cecilia K.
            </ion-row>
            <ion-row class="profile2">
              Jakarta Selatan
            </ion-row>
            <ion-row class="rowProfile1">
              <ion-col col-4 no-padding class="colProfile1">
                <ion-row class="rowProfile2">
                  <ion-col col-12 no-padding text-center>50</ion-col></ion-row
                >
                <ion-row class="rowProfile3">
                  <ion-col col-12 no-padding text-center
                    >Given</ion-col
                  ></ion-row
                >
              </ion-col>
              <ion-col col-4 no-padding class="colProfile2">
                <ion-row class="rowProfile2">
                  <ion-col col-12 no-padding text-center>10</ion-col></ion-row
                >
                <ion-row class="rowProfile3">
                  <ion-col col-12 no-padding text-center
                    >Taken</ion-col
                  ></ion-row
                >
              </ion-col>
              <ion-col col-4 no-padding class="colProfile3">
                <ion-row class="rowProfile2">
                  <ion-col col-12 no-padding text-center>100</ion-col></ion-row
                >
                <ion-row class="rowProfile3">
                  <ion-col col-12 no-padding text-center
                    >Friends</ion-col
                  ></ion-row
                >
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </div>
    </div>
    <div class="divProfile1">
      <div>
        <div>
          <br /><br />
          <p class="divProfile2">
            Your Posts
          </p>
        </div>
        <p class="divProfile3">
          Available
        </p>
        <ion-row class="row1" padding>
          <ion-col class="col1" *ngFor="let item of loadedAvailable">
            <ion-card class="card1">
              <div class="container">
                <img
                  *ngIf="item.status == 'Available'"
                  src="{{ item.imageUrl1 }}"
                  class="img1"
                />
                <img
                  *ngIf="item.status == 'Unavailable'"
                  src="{{ item.imageUrl1 }}"
                  class="img2"
                />
                <div
                  *ngIf="item.status == 'Available'"
                  class="top-right status1"
                >
                  {{ item.status }}
                </div>
                <div
                  *ngIf="item.status == 'Unavailable'"
                  class="top-right status2"
                >
                  {{ item.status }}
                </div>
              </div>
              <ion-card-content>
                <p class="displayName">
                  {{ item.name }}
                </p>
                <p class="displayNormal">
                  <ion-icon
                    name="hourglass"
                    slot="icon-only"
                    class="img3"
                  ></ion-icon>
                  Posted {{ item.daySince }} day ago
                </p>
                <p>
                  <ion-row>
                    <ion-col size="4" class="col2">
                      <img src="{{ item.imageUrl2 }}" class="img4" />
                    </ion-col>
                    <ion-col class="col3">
                      <ion-row class="displayUser">
                        {{ item.userName }}
                      </ion-row>
                      <ion-row class="displayNormal">
                        {{ item.userLocation }}
                      </ion-row>
                    </ion-col>
                  </ion-row>
                </p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

        <p class="divProfile4">
          Unavailable
        </p>

        <ion-row class="row1" padding>
          <ion-col class="col1" *ngFor="let item of loadedUnavailable">
            <ion-card class="card1">
              <div class="container">
                <img
                  *ngIf="item.status == 'Available'"
                  src="{{ item.imageUrl1 }}"
                  class="img1"
                />
                <img
                  *ngIf="item.status == 'Unavailable'"
                  src="{{ item.imageUrl1 }}"
                  class="img2"
                />
                <div
                  *ngIf="item.status == 'Available'"
                  class="top-right status1"
                >
                  {{ item.status }}
                </div>
                <div
                  *ngIf="item.status == 'Unavailable'"
                  class="top-right status2"
                >
                  {{ item.status }}
                </div>
              </div>
              <ion-card-content>
                <p class="displayName">
                  {{ item.name }}
                </p>
                <p class="displayNormal">
                  <ion-icon name="hourglass" slot="icon-only"></ion-icon> Posted
                  {{ item.daySince }} day ago
                </p>
                <p>
                  <ion-row>
                    <ion-col size="4" class="col2">
                      <img src="{{ item.imageUrl2 }}" class="img3" />
                    </ion-col>
                    <ion-col class="col3">
                      <ion-row class="displayUser">
                        {{ item.userName }}
                      </ion-row>
                      <ion-row class="displayNormal">
                        {{ item.userLocation }}
                      </ion-row>
                    </ion-col>
                  </ion-row>
                </p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <br />
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row class="footer1">
      <ion-col>
        <ion-buttons>
          <ion-button>
            <ion-icon slot="icon-only" name="home"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col>
        <ion-buttons>
          <ion-button>
            <ion-icon slot="icon-only" name="notifications"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col>
        <ion-buttons>
          <ion-button class="btn-round1">
            <ion-icon slot="icon-only" name="add" class="footer2"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col>
        <ion-buttons>
          <ion-button>
            <ion-icon slot="icon-only" name="chatboxes"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col>
        <ion-buttons>
          <ion-button class="btn-round2">
            <ion-icon slot="icon-only" name="person"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
