<div class="container">
  <div class="ion-text-center header">
    <img src="../../assets/images/welcomeHeader.png" />
  </div>
  <div class="body">
    <img class="imageBody" src="../../assets/images/welcomeBody.png" />
    <div class="textContainer">
      <h2 class="title">Welcome to Cibo!</h2>
      <ion-label class="description"
        >Cibo is a food sharing platform with your nearest friends and family
      </ion-label>
      <div class="ion-text-center">
        <ion-button
          class="buttonGetStarted"
          expand="block"
          (click)="onClickGetStarted()"
          >Get Started</ion-button
        >
      </div>
    </div>
  </div>
</div>

<!-- <div style="display: flex; flex-direction: column; margin-top: 30%;">
  <div class="ion-text-center">
    <img src="../../assets/images/welcomeHeader.png" />
  </div>

  <div style="margin-top: 30%;">
    <img class="imageBody" src="../../assets/images/welcomeBody.png" />
  </div>
</div> -->
