.container {
  display: flex;
  flex-direction: column;
  padding-bottom: 1000px;
}

.header {
  flex: 1;
  margin-top: 30%;
}

.body {
  flex: 1;
  margin-top: 30%;
  position: relative;
  height: auto;
}

.imageBody {
  transform: scale(1.3);
  height: auto;
}

.textContainer {
  flex-direction: column;
  color: #fff;
  position: absolute;
  top: 5%;
  margin-left: 39px;
  margin-right: 39px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 25px;
}

.description {
  font-size: 14px;
}

.buttonGetStarted {
  --border-radius: 25px;
  --background: #fff;
  --color: #3c4cac;
  height: 43px;
  margin-top: 8%;
}
