<ion-content class="ion-padding background">
  <div class="content">
    <h1 class="ion-text-center appName">
      C I B O
    </h1>
    <div class="card">
      <ion-segment [(ngModel)]="segment" color="tertiary">
        <ion-segment-button value="login" checked>Sign In</ion-segment-button>
        <ion-segment-button value="signUp">Sign Up</ion-segment-button>
      </ion-segment>

    <div [ngSwitch]="segment" class="segment">
        <div *ngSwitchCase="'login'">
          <form #f="ngForm" (ngSubmit)="onSubmit(f)" *ngIf="login">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-list>
                    <ion-item>
                      <div class="middle">
                        <ion-label position="floating" class="middle"> 
                          <img src="../assets/icon/icons8-email.png" class="middle">
                          &nbsp;&nbsp;E-mail
                        </ion-label>
                      </div>
                      
                      <ion-input
                        inputmode="email"
                        ngModel
                        name="email"
                        required
                        email
                        #emailCtrl="ngModel"
                        type="email"
                      ></ion-input>
                    </ion-item>
                    <ion-item
                      *ngIf="!emailCtrl.valid && emailCtrl.touched"
                      lines="none"
                    >
                      <ion-label>Should be a valid email address</ion-label>
                    </ion-item>
                    <ion-item>
                      <div class="middle">
                        <ion-label position="floating" class="label middle"> 
                          <img src="../assets/icon/icons8-password.png" class="middle">
                          &nbsp;&nbsp;Password
                        </ion-label>
                      </div>
                      <ion-input
                        type="password"
                        ngModel
                        name="password"
                        required
                        #passwordCtrl="ngModel"
                        minlength="6"
                      ></ion-input>
                    </ion-item>
                    <ion-item
                      *ngIf="!passwordCtrl.valid && passwordCtrl.touched"
                      lines="none"
                    >
                      <ion-label>Should be a valid password</ion-label>
                    </ion-item>
                  </ion-list>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col size-sm="6" offset-sm="3" class="button">
                  <ion-button
                    type="submit"
                    color="primary"
                    (click)="onLogin()"
                    [disabled]="!f.valid"
                    expand="block"
                    shape="round"
                    color="tertiary"
                    >SIGN IN</ion-button
                  >
                </ion-col>
              </ion-row>
            </ion-grid>
          </form>
        </div>
      
        <div *ngSwitchCase="'signUp'">
          <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-list>
                    <ion-item>
                      <div class="middle">
                        <ion-label position="floating" class="label middle"> 
                          <img src="../assets/icon/icons8-email.png" class="middle">
                          &nbsp;&nbsp;E-mail
                        </ion-label>
                      </div>
                      <ion-input
                        inputmode="email"
                        ngModel
                        name="email"
                        required
                        email
                        #emailCtrl="ngModel"
                        type="email"
                      ></ion-input>
                    </ion-item>
                    <ion-item
                      *ngIf="!emailCtrl.valid && emailCtrl.touched"
                      lines="none"
                    >
                      <ion-label>Should be a valid email address</ion-label>
                    </ion-item>
                    <ion-item>
                      <div class="middle">
                        <ion-label position="floating" class="label middle"> 
                          <img src="../assets/icon/icons8-user.png" class="middle">
                          &nbsp;&nbsp;Username
                        </ion-label>
                      </div>
                      <ion-input
                        inputmode="name"
                        ngModel
                        name="name"
                        required
                        type="name"
                      ></ion-input>
                    </ion-item>
                    <ion-item>
                      <div class="middle">
                        <ion-label position="floating" class="label middle"> 
                          <img src="../assets/icon/icons8-password.png" class="middle">
                          &nbsp;&nbsp;Password
                        </ion-label>
                      </div>
                      <ion-input
                        type="password"
                        ngModel
                        name="password"
                        required
                        #passwordCtrl="ngModel"
                        minlength="6"
                      ></ion-input>
                    </ion-item>
                    <ion-item
                      *ngIf="!passwordCtrl.valid && passwordCtrl.touched"
                      lines="none"
                    >
                      <ion-label>Should be a valid password</ion-label>
                    </ion-item>
                    <ion-item>
                      <div class="middle">
                        <ion-label position="floating" class="label middle"> 
                          <img src="../assets/icon/icons8-password.png" class="middle">
                          &nbsp;&nbsp;Confirm Password
                        </ion-label>
                      </div>
                      <ion-input
                        type="password"
                        ngModel
                        name="conformPassword"
                        required
                        #confirmPasswordCtrl="ngModel"
                        minlength="6"
                      ></ion-input>
                    </ion-item>
                    <ion-item
                      *ngIf="!confirmPasswordCtrl.valid && confirmPasswordCtrl.touched"
                      lines="none"
                    >
                      <ion-label>Should be a valid confirm password</ion-label>
                    </ion-item>
                  </ion-list>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col size-sm="6" offset-sm="3" class="button">
                    <ion-button
                    type="submit"
                    color="primary"
                    (click)="onSignUp()"
                    [disabled]="!f.valid"
                    expand="block"
                    shape="round"
                    color="tertiary"
                    >SIGN UP</ion-button
                  >
                </ion-col>
              </ion-row>
            </ion-grid>
          </form>
        </div>
      </div>
    </div>
  </div>
</ion-content>