.content{
  padding-top: 50px;
}

.ionSegment{
  padding-top: 50px;
}

.label{
  margin-top: 10px;
}

.button{
  margin-top: 20px;
}

.middle{
  vertical-align: middle;
}

.segment{
  margin-top: 20px;
}