<ion-header translucent="true" no-border>
  <ion-toolbar class="closeIconContainer">
    <ion-buttons slot="end">
      <ion-button (click)="onClickClose()">
        <ion-icon name="close" class="iconClose"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="pageBackground">
  <ion-row>
    <p class="textTitle">Edit Item</p>
  </ion-row>
  <br />
  <ion-row class="boxImage">
    <img
      class="displayImage"
      [src]="capturedSnapURL"
      (click)="changePostPicture()"
    />
  </ion-row>
  <br />
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-row class="labelItemName">Item Name</ion-row>
    <ion-row class="boxItemName">
      <ion-input
        placeholder="Item Name"
        ngModel="{{ loadedFeed.post[0].item_name }}"
        class="textItemName"
        type="text"
        (ionChange)="$event.target.value = itemNameFormat($event.target.value)"
        name="itemName"
        required
      ></ion-input>
    </ion-row>
    <br />
    <ion-row class="containerDate">
      <ion-col>
        <ion-row class="labelBuyDate">Buy Date</ion-row>
        <ion-row class="boxBuyDate">
          <ion-datetime
            displayFormat="DD/MM/YYYY"
            placeholder="Buy Date"
            ngModel="{{ loadedFeed.post[0].buy_date }}"
            class="ion-text-center textBuyDate"
            name="buyDate"
          ></ion-datetime>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row class="labelExpDate">Exp Date</ion-row>
        <ion-row class="boxExpDate">
          <ion-datetime
            displayFormat="DD/MM/YYYY"
            placeholder="Exp Date"
            ngModel="{{ loadedFeed.post[0].exp_date }}"
            class="ion-text-center textExpDate"
            name="expDate"
            min="{{ loadedFeed.post[0].buy_date }}"
            max="2050"
            *ngIf="loadedFeed.post[0].buy_date"
          ></ion-datetime>
          <ion-datetime
            displayFormat="DD/MM/YYYY"
            placeholder="Exp Date"
            ngModel="{{ loadedFeed.post[0].exp_date }}"
            class="ion-text-center textExpDate"
            name="expDate"
            max="2050"
            *ngIf="!loadedFeed.post[0].buy_date"
          ></ion-datetime>
        </ion-row>
      </ion-col>
    </ion-row>
    <br />
    <ion-row class="labelCategory">Category</ion-row>
    <ion-row class="boxCategory">
      <ion-select
        placeholder="Category"
        interface="popover"
        class="textCategory"
        name="category"
        [(ngModel)]="loadedFeed.post[0].category"
        required
      >
        <ion-select-option value="Vegetables">Vegetables</ion-select-option>
        <ion-select-option value="Fruits">Fruits</ion-select-option>
        <ion-select-option value="Grains, Beans and Nuts"
          >Grains, Beans and Nuts</ion-select-option
        >
        <ion-select-option value="Meat and Poultry"
          >Meat and Poultry</ion-select-option
        >
        <ion-select-option value="Dairy Foods">Dairy Foods</ion-select-option>
        <ion-select-option value="Fish and Seafood"
          >Fish and Seafood</ion-select-option
        >
      </ion-select>
    </ion-row>
    <br />
    <ion-row class="labelDescription">Description</ion-row>
    <ion-row class="boxDescription">
      <ion-textarea
        rows="6"
        cols="6"
        placeholder="Description"
        class="textDescription"
        ngModel="{{ loadedFeed.post[0].description }}"
        name="description"
        required
      ></ion-textarea>
    </ion-row>
    <br />
    <ion-row class="labelTag">Tag</ion-row>
    <ion-row class="boxTag">
      <ion-select
        placeholder="Tag"
        interface="popover"
        class="textTag"
        name="tag"
        [(ngModel)]="loadedFeed.post[0].tag"
        required
      >
        <ion-select-option value="Available">Available</ion-select-option>
        <ion-select-option value="Expired">Expired</ion-select-option>
      </ion-select>
    </ion-row>
    <br />
    <ion-button
      type="submit"
      expand="block"
      shape="round"
      color="tertiary"
      class="btnPost"
      [disabled]="
        !f.valid &&
        (!loadedFeed.post[0].buy_date || !loadedFeed.post[0].exp_date)
      "
      >EDIT</ion-button
    >
  </form>
  <br /><br />
</ion-content>
