<ion-content *ngIf="isLoading" class="backgroundLoading"></ion-content>

<ion-content *ngIf="!isLoading">
  <ion-toolbar translucent class="backContainer">
    <ion-buttons slot="start">
      <ion-button (click)="onClickBack()"
        ><ion-icon
          slot="icon-only"
          name="arrow-back"
          class="backIcon"
        ></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="pageContainer">
    <div class="headerContainer">
      <div class="avatarContainerHeader">
        <ion-row>
          <img
            src="assets/images/avatarDefault.png"
            *ngIf="loadedUserProfile.user[0].avatar == null"
          />
          <img
            src="{{ loadedUserProfile.user[0].avatar }}"
            *ngIf="loadedUserProfile.user[0].avatar != null"
          />
          <ion-col class="textHeaderContainer" no-padding>
            <ion-row class="textUserFullNameHeader">
              {{ loadedUserProfile.user[0].full_name }}
            </ion-row>
            <ion-row class="textUserNameHeader">
              {{ loadedUserProfile.user[0].username }}
            </ion-row>
            <ion-row class="textUserLocationHeader">
              {{ loadedUserProfile.user[0].location }}
            </ion-row>
            <ion-row *ngIf="!isFollowed">
              <ion-button
                type="submit"
                color="tertiary"
                expand="block"
                shape="round"
                class="iconFollowContainer"
                (click)="onClickFollow()"
                ><ion-icon name="person-add" class="iconFollow"></ion-icon
                >Follow</ion-button
              >
            </ion-row>
            <ion-row *ngIf="isFollowed">
              <ion-button
                type="submit"
                color="danger"
                expand="block"
                shape="round"
                class="iconFollowContainer"
                (click)="onClickUnfollow()"
                ><ion-icon
                  name="remove-circle-outline"
                  class="iconFollow"
                ></ion-icon
                >Unfollow</ion-button
              >
            </ion-row>
            <ion-row class="userStatusContainer">
              <ion-col col-2 no-padding class="userPostContainer">
                <ion-row class="textAmount">
                  <ion-col col-12 no-padding text-center
                    >{{ loadedUserProfile.post.length }}</ion-col
                  ></ion-row
                >
                <ion-row class="textUserStatus">
                  <ion-col col-12 no-padding text-center>Post</ion-col></ion-row
                >
              </ion-col>
              <ion-col col-2 no-padding class="userFollowerContainer">
                <ion-row class="textAmount">
                  <ion-col col-12 no-padding text-center
                    >{{ loadedUserProfile.user[0].follower.length }}</ion-col
                  ></ion-row
                >
                <ion-row class="textUserStatus">
                  <ion-col col-12 no-padding text-center
                    >Follower</ion-col
                  ></ion-row
                >
              </ion-col>
              <ion-col col-2 no-padding class="userFollowingContainer">
                <ion-row class="textAmount">
                  <ion-col col-12 no-padding text-center
                    >{{ loadedUserProfile.user[0].following.length }}</ion-col
                  >
                </ion-row>
                <ion-row class="textUserStatus">
                  <ion-col col-12 no-padding text-center
                    >Following</ion-col
                  ></ion-row
                >
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </div>
    </div>

    <div class="bodyContainerFollowed" *ngIf="isFollowed">
      <div>
        <div>
          <br /><br />
          <p class="textYourPosts">
            Profile Posts
          </p>
        </div>
        <p class="textAvailableTitle">
          Available
        </p>
        <div class="bodyContainerEmpty ion-text-center" *ngIf="!isAvailable">
          <p class="textAvailableEmpty">There are no available posts!</p>
        </div>
        <ion-row class="rowFeedsContainer" *ngIf="isAvailable">
          <ion-col class="colFeedsContainer" *ngFor="let item of postAvailable">
            <ion-card
              class="cardContainer"
              [routerLink]="['/', 'profile-user', 'feeds-detail', item.id]"
              *ngIf="
                item.tag.toLowerCase() == 'available' ||
                item.tag.toLowerCase() == 'expired'
              "
            >
              <div class="imageContainer">
                <img
                  *ngIf="
                    item.tag.toLowerCase() === 'available' ||
                    item.tag.toLowerCase() === 'expired'
                  "
                  src="{{ item.image }}"
                  class="imageAvailable"
                />
                <div
                  *ngIf="
                    item.tag.toLowerCase() == 'available' ||
                    item.tag.toLowerCase() == 'expired'
                  "
                  class="tagPosition statusAvailable"
                >
                  Available
                </div>
                <div
                  *ngIf="item.tag.toLowerCase() === 'expired'"
                  class="tagPositionExpired statusExpired"
                >
                  {{ item.tag }}
                </div>
              </div>
              <ion-card-content>
                <p class="textItemName">
                  {{ item.item_name }}
                </p>
                <p class="textTimeStamp">
                  <ion-row>
                    <ion-col class="ion-no-padding">
                      <div class="timestampContainer">
                        <img
                          src="../assets/images/hourglass.png"
                          class="imgTimestamp"
                        />
                        <ion-label>
                          {{ item.timestamp }}
                        </ion-label>
                      </div>
                    </ion-col>
                  </ion-row>
                </p>
                <p>
                  <ion-row class="userInfoContainer">
                    <ion-col size="4" class="avatarContainer">
                      <img
                        src="{{ loadedUserProfile.user[0].avatar }}"
                        class="imageAvatar"
                        *ngIf="loadedUserProfile.user[0].avatar != null"
                      />
                      <img
                        src="assets/images/avatarDefault.png"
                        class="imageAvatar"
                        *ngIf="loadedUserProfile.user[0].avatar == null"
                      />
                    </ion-col>
                    <ion-col size="8" class="userContainer">
                      <ion-row class="textUserName">
                        {{ loadedUserProfile.user[0].full_name }}
                      </ion-row>
                      <ion-row class="textUserLocation">
                        {{ loadedUserProfile.user[0].location }}
                      </ion-row>
                    </ion-col>
                  </ion-row>
                </p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

        <p class="textUnavailableTitle">
          Unavailable
        </p>

        <div class="bodyContainerEmpty ion-text-center" *ngIf="!isUnavailable">
          <p class="textUnavailableEmpty">There are no unavailable posts!</p>
        </div>

        <ion-row class="rowFeedsContainer" *ngIf="isUnavailable">
          <ion-col
            class="colFeedsContainer"
            *ngFor="let item of postUnavailable"
          >
            <ion-card
              class="cardContainer"
              [routerLink]="['/', 'profile-user', 'feeds-detail', item.id]"
              *ngIf="item.tag.toLowerCase() == 'unavailable'"
            >
              <div class="imageContainer">
                <img
                  *ngIf="item.tag.toLowerCase() == 'unavailable'"
                  src="{{ item.image }}"
                  class="imageUnavailable"
                />
                <div
                  *ngIf="item.tag.toLowerCase() == 'unavailable'"
                  class="tagPosition statusUnavailable"
                >
                  {{ item.tag }}
                </div>
              </div>
              <ion-card-content style="vertical-align: middle;">
                <p class="textItemName">
                  {{ item.item_name }}
                </p>
                <p class="textTimeStamp">
                  <ion-row>
                    <ion-col class="ion-no-padding">
                      <div class="timestampContainer">
                        <img
                          src="../assets/images/hourglass.png"
                          class="imgTimestamp"
                        />
                        <ion-label>
                          {{ item.timestamp }}
                        </ion-label>
                      </div>
                    </ion-col>
                  </ion-row>
                </p>
                <p>
                  <ion-row class="userInfoContainer">
                    <ion-col size="4" class="avatarContainer">
                      <img
                        src="{{ loadedUserProfile.user[0].avatar }}"
                        class="imageAvatar"
                        *ngIf="loadedUserProfile.user[0].avatar != null"
                      />
                      <img
                        src="assets/images/avatarDefault.png"
                        class="imageAvatar"
                        *ngIf="loadedUserProfile.user[0].avatar == null"
                      />
                    </ion-col>
                    <ion-col size="8" class="userContainer">
                      <ion-row class="textUserName">
                        {{ loadedUserProfile.user[0].full_name }}
                      </ion-row>
                      <ion-row class="textUserLocation">
                        {{ loadedUserProfile.user[0].location }}
                      </ion-row>
                    </ion-col>
                  </ion-row>
                </p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <br />
      </div>
    </div>
  </div>
  <div class="bodyContainerUnfollow ion-text-center" *ngIf="!isFollowed">
    <ion-icon name="lock" class="iconLock"></ion-icon>
    <p class="unfollowInfo1">
      You must follow {{ loadedUserProfile.user[0].full_name }}
    </p>
    <p class="unfollowInfo2">to see their profile</p>
  </div>
</ion-content>
<ion-footer>
  <ion-row class="footerContainer">
    <div>
      <ion-buttons>
        <ion-button (click)="onClickHome()">
          <ion-icon slot="icon-only" name="home"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
    <div>
      <ion-buttons>
        <ion-button class="iconSelectedContainer" (click)="onClickSearch()">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
    <div>
      <ion-buttons>
        <ion-button class="iconAddContainer" (click)="onClickAdd()">
          <ion-icon class="iconAdd" slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
    <div>
      <ion-buttons>
        <ion-button (click)="onClickRequest()">
          <ion-icon slot="icon-only" name="notifications"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
    <div>
      <ion-buttons>
        <ion-button (click)="onClickProfile()">
          <ion-icon slot="icon-only" name="person"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </ion-row>
</ion-footer>

<div class="spin" *ngIf="isLoading">
  <ion-spinner name="crescent"></ion-spinner>
</div>
