.headerContainer {
  margin-bottom: -80px;
}

.backgroundLoading {
  --background: linear-gradient(155deg, #fbc34a, #f05d87);
}

.spin {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ion-toolbar {
  --background: transparent;
}

ion-spinner {
  width: 100px;
  height: 100px;
  --color: #3c4cac;
}

.backIconContainer {
  padding-left: 10px;
  padding-top: 10px;
}

.backIconButton {
  --background: #3c4cac;
  --border-radius: 50%;
  width: 50px;
  height: 50px;
}

.backIcon {
  width: 30px;
  height: 30px;
  color: white;
}

ion-content {
  --background: none;
  background-image: linear-gradient(
    117deg,
    rgba(251, 195, 74, 1),
    rgba(241, 102, 129, 1)
  ) !important;
  background-position: center top;
  background-repeat: no-repeat;
  z-index: 0;
}

.imgHeader {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 300px;
  z-index: -1;
}

.boxContainer {
  margin-top: 60%;
  margin-bottom: 40%;
  margin-left: 32px;
  margin-right: 32px;
  background: #ffffff;
  box-shadow: #00000029 0px 3px 6px;
}

.detailContainer {
  padding-top: 35px;
  padding-bottom: 35px;
  margin-left: 30px;
  margin-right: 30px;
}

.textItemName {
  font-family: neusa-next-std, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #ed4495;
}

.textTimeStamp {
  padding-top: 5px;
  font-family: Qanelas;
  font-size: 12px;
  color: #707070;
}

.iconHourglass {
  width: 12px;
  height: 12px;
  margin-bottom: -2px;
}

.avatarContainer {
  margin-left: 0px;
  padding-top: 5px;
}

.userContainer {
  padding-top: 5px;
}

.imageAvatar {
  object-fit: cover;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.textFullName {
  font-family: qanelas;
  font-weight: 600;
  font-size: 12px;
  color: #000000;
}

.textUserLocation {
  font-family: qanelas;
  font-size: 11px;
  color: #707070;
}

.textCategory {
  padding-top: 5px;
  font-family: neusa-next-std, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #3c4cac;
}

.textDescription {
  padding-top: 10px;
  font-family: neusa-next-std, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #707070;
  text-align: justify;
}

.buyDateContainer {
  padding-top: 10px;
  font-family: neusa-next-std, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #3c4cac;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}

.expDateContainer {
  padding-top: 5px;
  font-family: neusa-next-std, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #3c4cac;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}

.btnRequest {
  padding-top: 15px;
  --background: #00af72;
  height: 60px;
  font-family: neusa-next-std, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.btnOwnerContainer {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}

.btnEdit {
  padding-top: 15px;
  --background: #3c4cac;
  height: 60px;
  font-family: neusa-next-std, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.btnDelete {
  padding-top: 15px;
  --background: #fa4353;
  height: 60px;
  font-family: neusa-next-std, sans-serif;
  font-size: 14px;
  font-weight: bold;
}
