<ion-header class="ion-text-center header-display">
  <ion-toolbar class="header-color">
    <ion-title class="header-title">Requests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="content">
    <div class="card">
      <ion-segment [(ngModel)]="segment" color="tertiary">
        <ion-segment-button value="requests" checked class="ion-segment-text" color="secondary"><b>Requests</b></ion-segment-button>
        <ion-segment-button value="myRequests" class="ion-segment-text"><b>My Requests</b></ion-segment-button>
      </ion-segment>
      <div [ngSwitch]="segment" class="segment">
        <div *ngSwitchCase="'requests'">
          <ion-card *ngFor="let request of loadedRequests">
            <ion-row class="noMargin noPadding">
              <ion-col size="5" class="noMargin noPadding">
                <ion-thumbnail class="itemImage noMargin noPadding">
                  <img
                    src="{{ request.itemImageUrl }}"
                  />
                </ion-thumbnail>
              </ion-col>
              <ion-col>
                <ion-row>
                  <p class="itemName">
                    <b>
                      {{request.item_name}}
                    </b>
                  </p>  
                </ion-row>
                <ion-row>
                  <p class="requestBy">
                    Requested By
                  </p>
                </ion-row>
                <ion-row>
                  <ion-col size="3">
                    <ion-thumbnail class="itemAvatar noMargin noPadding">
                      <img
                        class="imageAvatar"
                        src="{{ request.avatar }}"
                      />
                    </ion-thumbnail>
                  </ion-col>
                  <ion-col>
                    <ion-row class="requestUsername">
                      <b>
                        {{ request.username }}
                      </b>
                    </ion-row>
                    <ion-row class="requestLocation">
                      {{ request.location }}
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-col>

            </ion-row>
            <ion-row class="noPadding noMargin">
              <ion-col class="noPadding noMargin">
                <ion-button class="noPadding noMargin declineButton" expand="full">
                  <b>
                    Decline
                  </b>
                </ion-button>
              </ion-col>
              <ion-col class="noPadding noMargin">
                <ion-button class="noPadding noMargin acceptButton" expand="full">
                  <b>
                    Accept
                  </b>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card>
        </div>
        <div *ngSwitchCase="'myRequests'">
          <ion-card *ngFor="let request of loadedMyRequests">
            <ion-row class="noMargin noPadding">
              <ion-col size="5" class="noMargin noPadding">
                <ion-thumbnail class="itemImage noMargin noPadding">
                  <img
                    src="{{ request.itemImageUrl }}"
                  />
                </ion-thumbnail>
              </ion-col>
              <ion-col>
                <ion-row>
                  <p class="itemName">
                    <b>
                      {{request.item_name}}
                    </b>
                  </p>  
                </ion-row>
                <ion-row>
                  <p class="requestBy">
                    Requested To
                  </p>
                </ion-row>
                <ion-row>
                  <ion-col size="3">
                    <ion-thumbnail class="itemAvatar noMargin noPadding">
                      <img
                        class="imageAvatar"
                        src="{{ request.avatar }}"
                      />
                    </ion-thumbnail>
                  </ion-col>
                  <ion-col>
                    <ion-row class="requestUsername">
                      <b>
                        {{ request.username }}
                      </b>
                    </ion-row>
                    <ion-row class="requestLocation">
                      {{ request.location }}
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-col>

            </ion-row>
            <ion-row class="noMargin">
              <ion-col class="noPadding ion-text-center" *ngIf="request.isApprove===true">
                <p class="approved noMargin">
                  <b>
                    Approved! Chat Now!
                  </b>
                </p>
              </ion-col>
              <ion-col class="noPadding noMargin ion-text-center" *ngIf="request.isApprove===false">
                <p class="notApproved noPadding noMargin">
                  <b>
                    Waiting for Approval
                  </b>
                </p>
              </ion-col>
            </ion-row>
          </ion-card>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row class="footer1">
      <ion-col>
        <ion-buttons>
          <ion-button>
            <ion-icon slot="icon-only" name="home"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col>
        <ion-buttons>
          <ion-button class="btn-round2">
            <ion-icon slot="icon-only" name="notifications"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col>
        <ion-buttons>
          <ion-button class="btn-round1">
            <ion-icon slot="icon-only" name="add" class="footer2"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col>
        <ion-buttons>
          <ion-button>
            <ion-icon slot="icon-only" name="chatboxes"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col>
        <ion-buttons>
          <ion-button>
            <ion-icon slot="icon-only" name="person"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>   