<div class="container">
  <div class="ion-text-center header">
    <img src="../../assets/images/setupHeader.png" />
  </div>
  <div class="body">
    <img class="imageBody" src="../../assets/images/welcomeBody.png" />
    <div class="textContainer">
      <h2 class="title">You're All Set!</h2>
      <div class="ion-text-center">
        <ion-button
          class="buttonGetStarted"
          expand="block"
          (click)="onClickOk()"
          >Ok</ion-button
        >
      </div>
    </div>
  </div>
</div>
