.pageBackground {
  --background: linear-gradient(
    155deg,
    rgba(251, 195, 74, 1),
    rgba(240, 93, 135, 1)
  );
}

.iconClose {
  width: 27px;
  height: 27px;
  color: #ffffff;
}

.textTitle {
  font-family: neusa-next-std, sans-serif;
  font-weight: bold;
  font-size: 24pt;
  color: #ffffff;
  margin: 0 auto;
}

.iconBoxImage {
  vertical-align: middle;
  position: relative;
}

.boxImageContent {
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boxImage {
  box-shadow: #00000029 0px 3px 6px;
  height: 215px;
  margin-left: 68px;
  margin-right: 68px;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
}

.boxDescription {
  box-shadow: #00000029 0px 3px 6px;
  height: 134px;
  margin-left: 68px;
  margin-right: 68px;
  background-color: #ffffff;
}

.textDescription {
  margin-left: 22px;
  margin-right: 18px;
  font-family: qanelas;
  font-size: 12;
  color: #6b6b6b;
}

.boxItemName,
.boxCategory {
  box-shadow: #00000029 0px 3px 6px;
  height: 53px;
  margin-left: 68px;
  margin-right: 68px;
  background-color: #ffffff;
}

.boxBuyDate {
  box-shadow: #00000029 0px 3px 6px;
  margin-right: 6px;
  min-width: 48px;
  background-color: #ffffff;
}
.boxExpDate {
  box-shadow: #00000029 0px 3px 6px;
  margin-left: 6px;
  min-width: 48px;
  background-color: #ffffff;
}

.containerDate {
  margin-left: 68px;
  margin-right: 68px;
  justify-content: space-between;
}

.textItemName,
.textDescription {
  margin-left: 30px;
  font-family: qanelas;
  font-size: 12;
  color: #6b6b6b;
}

.btnPost {
  margin-left: 136px;
  margin-right: 136px;
  height: 43px;
  font-family: neusa-next-std, sans-serif;
  font-size: 14;
  font-weight: bold;
}

.textBuyDate,
.textExpDate {
  margin-left: 10px;
  margin-top: 8px;
  font-family: qanelas;
  font-size: 12;
  color: #6b6b6b;
}

.textCategory {
  margin-left: 15px;
  margin-top: 10px;
  font-family: qanelas;
  font-size: 12;
  color: #6b6b6b;
}

.iconPhoto {
  position: relative;
  width: 34pt;
  height: 34pt;
  top: 50%;
  right: 50%;
  left: 260%;
}

.textPhoto {
  font-family: qanelas;
  font-size: 12;
  color: #6b6b6b;
}
