<ion-content class="pageBackground">
  <ion-toolbar color="translucent">
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="close" class="iconClose"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-row>
    <p class="textTitle">Add Item</p>
  </ion-row>
  <br />
  <ion-row class="boxImage" *ngIf="image === ''">
    <ion-row class="boxImageContent" (click)="changeImage()">
      <div class="iconBoxImage">
        <img
          *ngIf="image === ''"
          src="../../assets/add-item/icons8-add_camera.png"
          class="ion-text-center"
          (click)="changeImage()"
        />
      </div>
      <div
        *ngIf="image === ''"
        class="ion-text-center textPhoto"
        (click)="changeImage()"
      >
        Take a photo of your food.
      </div>
    </ion-row>
  </ion-row>
  <img
    *ngIf="image !== ''"
    [src]="image"
    class="photo"
    (click)="changeImage()"
  />
  <br />
  <ion-row class="boxItemName">
    <ion-input
      placeholder="Item Name"
      class="textItemName"
      [(ngModel)]="item_name"
      name="item_name"
      required
    ></ion-input>
  </ion-row>
  <br />
  <ion-row class="containerDate">
    <ion-col class="boxBuyDate">
      <ion-datetime
        displayFormat="MM/DD/YYYY"
        placeholder="Buy Date"
        class="textBuyDate"
        [(ngModel)]="buy_date"
        name="dateBuy"
        required
      ></ion-datetime>
    </ion-col>
    <ion-col class="boxExpDate">
      <ion-datetime
        displayFormat="MM/DD/YYYY"
        placeholder="Exp Date"
        class="textExpDate"
        [(ngModel)]="exp_date"
        name="dateExp"
        required
      ></ion-datetime>
    </ion-col>
  </ion-row>
  <br />
  <ion-row class="boxCategory">
    <ion-select
      placeholder="Category"
      class="textCategory"
      [(ngModel)]="category"
      name="category"
      required
    >
      <ion-select-option value="Vegetables">Vegetables</ion-select-option>
      <ion-select-option value="Fruits">Fruits</ion-select-option>
      <ion-select-option value="Grains, Beans and Nuts"
        >Grains, Beans and Nuts</ion-select-option
      >
      <ion-select-option value="Meat and Poultry"
        >Meat and Poultry</ion-select-option
      >
      <ion-select-option value="Dairy Foods">Dairy Foods</ion-select-option>
      <ion-select-option value="Fish and Seafood"
        >Fish and Seafood</ion-select-option
      >
    </ion-select>
  </ion-row>
  <br />
  <ion-row class="boxDescription">
    <ion-textarea
      rows="6"
      cols="6"
      placeholder="Description"
      class="textDescription"
      [(ngModel)]="description"
      name="desc"
      required
    ></ion-textarea>
  </ion-row>
  <br />
  <ion-row class="boxTag">
    <ion-select
      placeholder="Available"
      class="textTag"
      [(ngModel)]="tag"
      name="tag"
      required
    >
      <ion-select-option value="Available">Available</ion-select-option>
      <ion-select-option value="Expired">Expired</ion-select-option>
    </ion-select>
  </ion-row>
  <br />
  <ion-button
    type="submit"
    color="primary"
    expand="block"
    shape="round"
    color="tertiary"
    class="btnPost"
    (click)="addPost()"
    >POST</ion-button
  >
  <br /><br />
</ion-content>
