.toolbarContainer {
  --background: #3c4cac;
}

.headerTitle {
  font-family: neusa-next-std, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

.backIcon {
  width: 30px;
  height: 30px;
  color: #ffffff;
}

.listChatContainer {
  margin-left: 10px;
  margin-right: 10px;
}

.itemContainer {
  box-shadow: #00000029 0px 3px 6px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 70px;
  background-color: #ffffff;
}

.textTime {
  font-family: qanelas;
  font-size: 12px;
  color: gray;
  text-align: right;
}

.textName {
  font-family: neusa-next-std, sans-serif;
  font-size: 16px;
  color: #3c4cac;
  vertical-align: middle;
}

.chatDetailContainer {
  padding-top: 0px;
  margin-right: -10px;
}

.spacingContainer {
  visibility: hidden;
}

ion-item {
  justify-content: space-between;
}

.imgAvatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.textLastChat {
  display: block;
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: darkgray;
}

.spin {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ion-spinner {
  width: 100px;
  height: 100px;
  --color: #3c4cac;
}

.backgroundLoading {
  --background: linear-gradient(155deg, #fbc34a, #f05d87);
}
