<ion-header>
  <ion-toolbar class="toolbarContainer" text-center>
    <ion-title class="headerTitle">Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br />
  <ion-toolbar>
    <div class="searchBarContainer">
      <ion-searchbar
        placeholder="Search for friends"
        [(ngModel)]="searchKeyword"
        (ionInput)="onInputSearch($event.target.value)"
        (ionClear)="onInputSearch($event.target.value)"
      ></ion-searchbar>
    </div>
  </ion-toolbar>
  <div
    class="notFoundContainer ion-text-center"
    *ngIf="(!loadedSearch || loadedSearch.length === 0) && isInputEntered"
  >
    <p class="textNotFound">
      There are no users found!
    </p>
  </div>

  <div *ngIf="!isLoading">
    <ion-list
      class="listSearchContainer"
      *ngFor="let search of loadedSearch"
      [routerLink]="['/', 'profile-user', search.id]"
    >
      <ion-item lines="none">
        <ion-avatar item-left>
          <img src="{{ search.avatar }}" *ngIf="search.avatar !== null" />
          <img
            src="assets/images/avatarDefault.png"
            *ngIf="search.avatar === null"
          />
        </ion-avatar>
        <p class="textContainer">
          {{ search.full_name }} <br />{{ search.username }}
        </p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-row class="footerContainer">
    <div>
      <ion-buttons>
        <ion-button (click)="onClickHome()">
          <ion-icon slot="icon-only" name="home"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
    <div>
      <ion-buttons>
        <ion-button class="iconSelectedContainer">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
    <div>
      <ion-buttons>
        <ion-button class="iconAddContainer" (click)="onClickAdd()">
          <ion-icon class="iconAdd" slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
    <div>
      <ion-buttons>
        <ion-button (click)="onClickRequest()">
          <ion-icon slot="icon-only" name="notifications"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
    <div>
      <ion-buttons>
        <ion-button (click)="onClickProfile()">
          <ion-icon slot="icon-only" name="person"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </ion-row>
</ion-footer>

<div class="spin" *ngIf="isLoading">
  <ion-spinner name="crescent"></ion-spinner>
</div>
